body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

ul {
	font-family: 'Open Sans', sans-serif;	
}

.bg-black {
  background-color: #161616 !important;
}

.nav-img {
	height: 30px;
	border: none;
}

.title-font {
	font-family: 'Varela Round', sans-serif;
}

.anchor {
	padding-top: 60px;
}

.no-margin {
	margin-bottom: 0px;
}

/*test*/

.brand-font {
	padding-top: 10%;
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: #20BFF0;
}

.center {
	padding-top: 50px;
	display: block;
	margin: 0px auto;
	width: 7%;
}

.cover {
	height: 100vh;
}

.hidden {
	display: none;
}